* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
/*font-family: Arial;*/
/*background-color: white;*/
padding-left: 180px;
padding-right: 190px;
font-family: cursive;
background-image: url("../image/dark_mosaic.png");
/*padding: 50px;*/
}

#header
{
    padding-left: 50px;
    padding-top: 20px;
    height: 150px;
    width: 1100px;
    /*background-color: white;*/
}

#logo
{
    float: left;
    height: auto;
    width: 150px;
}

#heading
{
    float: left;
    padding-top: 50px;
    padding-left: 20px;
    height: auto;
    width: 500px;
    color: #6495ED;
}

#head
{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 40px;
}

#Image
{
    float: left;
    width: auto;
    padding-top: 75px;
}

#menu
{
    height: 50px;
    width: 1100px;
    background-color: #31362b;
    border-radius: 5px;
}

#UL
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 200px;
    font-size: 15px;
}

.LI a
{
    float: left;
/*    display: block;*/
    width: 130px;
    padding-top: 17px;
    text-align: center;
    text-decoration: none;
    height: 50px;
    color: white;
}

.LI a:hover
{
    background-color: #27a64c;
}

.middle
{
    height: auto;
    width: 1000px;
    padding-top: 30px;
    color: white;
    background-color: #31362b;
    padding-bottom: 30px;
    border-radius: 7px;
    padding-left: 100px;
    padding-right: 100px;
}

.inp
{
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

#add
{
    font-family: cursive;
    font-size: 40px;
}

#inpu
{
    background-color: darkorange;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    font-family: cursive;
    font-size: 20px;
}

#inpu:hover
{
    background-color: orangered;
}

#footer
{
    height: 250px;
    width: 1100px;
}

#footerl
{
    float: left;
    height: 250px;
    width: 350px;
/*
    border-style: solid;
    border-width: thin;
*/
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#footerl img
{
    width: 80px;
    height: 80px;
}

#footerm
{
    float: left;
    height: 250px;
    width: 350px;
/*
    border-style: solid;
    border-width: thin;
*/
     padding-top: 20px;
     padding-left: 20px;
    padding-right: 20px;
}

#footerm img
{
    width: 80px;
    height: 80px;
}

#footerr
{
    float: left;
    height: 250px;
    width: 350px;
/*
    border-style: solid;
    border-width: thin;
*/
     padding-top: 20px;
     padding-left: 20px;
    padding-right: 20px;
}

#fr1
{
    width: 80px;
    height: 80px;
}

.one
{
    font-size: 20px;
    font-style: normal;
    color: #6495ED;
}

.two
{
    font-size: 15px;
    font-family: fantasy;
    color: whitesmoke;
    
}

.fr    
{
    width: 25px;
    height: 25px;
}
