table
{
    border-collapse: collapse;
}

th
{
    background-color: grey;
    height: 50px;
}

td
{
    height: 35px;
}

.cor
{
    border: 1px solid black;
    width: 200px;
    text-align: center;
}

.cor1
{
    border: 1px solid black;
    width: 70px;
    text-align: center;
}

.cor2
{
    border: 1px solid black;
    width: 100px;
    text-align: center;
}