<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Online Exam Home Page </title>
    <link rel="stylesheet" href="../css/addTest.css">
    <script src="../js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="../js/validate.js"></script>
</head>
<body>
   <center>
    <div id="header">
       <div id="logo"><a href="homePage.html"><img src="../image/logo.jpg" alt="Logo.jpg" height="auto"></a></div>
       <div id="heading"><h1 id="head">ONLINE EXAM PORTAL</h1></div>
    </div>
    <br>
    <div id="menu">
        <ul id="UL">
            <li class="LI"><a href="homePage.html">Home</a></li>
            <li class="LI"><a href="addTest.html">Add Test</a></li>
            <li class="LI"><a href="view_users.html">View User</a></li>
            <li class="LI"><a href="viewResults.html">View Results</a></li>
            <li class="LI"><a href="homePage.html">Sign Out</a></li>
        </ul>
    </div>
    <br><br>
    <div id="middle">
       <center><font id="add"><u>Add Test Data</u></font></center>
       <form action="addtext.jsp" name="addTest" onsubmit=" return validateAddTestForm()" method="post" autocomplete="on">
        <br>
        <center>
            <table>
                <tr>
                    <td><font class="textFont">Type Of Test: </font></td>
                    <td><select class="select" name="typeTest" autofocus>
                    <option value="-1" disabled selected>---------------select----------------</option>
                    <option value="1">Objective</option>
                    </select></td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr>
                   <td><font class="textFont">Subjects: </font></td>
                    <td><select class="select" name="subjects">
                    <option value="-1" disabled selected>---------------select----------------</option>
                    <option value="">DAA</option>
                    <option value="">DBMS</option>
                    <option value="">MIS</option>
                    <option value="">Economics</option>
                    <option value="">WT</option>
                    <option value="">PPL</option>
                    </select></td> 
                </tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                    <tr><td><font class="textFont">Questions: </font></td>
                    <td><textarea rows="4" cols="50" name="questions"></textarea></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td><font class="textFont">A: </font></td>
                    <td><input type="text" class="select" name="a"></td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td><font class="textFont">B: </font></td>
                    <td><input type="text" class="select" name="b"></td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td><font class="textFont">C: </font></td>
                    <td><input type="text" class="select" name="c"></td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td><font class="textFont">D: </font></td>
                    <td><input type="text" class="select" name="d"></td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td><font class="textFont">Right Answer: </font></td>
                    <td><select class="select" name="rightans">
                    <option value="-1" disabled selected>---------------select----------------</option>
                    <option value="">A</option>
                    <option value="">B</option>
                    <option value="">C</option>
                    <option value="">D</option>
                    </select></td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                    <tr><td><font class="textFont"><font class="textFont">Description: </font></font></td>
                    <td><textarea rows="4" cols="50" name="description"></textarea></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td><font class="textFont"><font class="textFont">Upload Diagram: </font></font></td>
                    <td><input type="file" name="dataFile" id="fileChooser" onchange="readURL(this);"></td></tr>
                     <tr><td></td><td></td></tr>
                    <tr><td></td><td></td></tr>
                    <tr><td></td><td><img src="#" id="blah" alt="Your Image" width="400px" height="200px"></td></tr>
                    <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
                    <tr><td></td>
                    <td><input type="submit" value="Submit" class="sub"></td></tr>
            </table>      
        </center>
        </form>
    </div>
    <br><br>
    <hr>
    <div id="footer">
        <div id="footerl">
            <center>
                <a href="#"><img src="../image/faq.jpg" alt="Faq's"></a>
            </center>
            <br>
            <center><font class="one"><strong>FAQs</strong></font></center>
            <hr><br>
            <font class="two">What about the test</font>
            <br><br>
        </div>
        <div id="footerm">
            <center>
                <a href="#"><img src="../image/contact.jpg" alt="Contacts"></a>
            </center>
            <br>
            <center><font class="one"><strong>Contact Info</strong></font></center>
            <hr><br>
            <font class="two">Contact: 8791905580</font>
            <br><br>
            <font class="two">Email id: sarthak.1413088@kiet.edu</font>
            <br>
        </div>
        <div id="footerr">
            <center>
                <a href="#"><img src="../image/like.png" alt="Likes" id="fr1"></a>
            </center>
            <br>
            <center><font class="one"><strong>Stay Tuned</strong></font></center>
            <hr><br>
            <font class="two">For Daily News About Test , be sure to like the social pages</font>
            <br><br><center>
            <a href="https://www.facebook.com"><img src="../image/fb1.png" alt="Facebook" class="fr"></a>
            <a href="https://www.google.co.in"><img src="../image/google.png" alt="Google" class="fr"></a>
            <a href="https://www.linked.com"><img src="../image/linkedin.jpg" alt="LinkedIn" class="fr"></a>
            <a href="https://twitter.com"><img src="../image/twitter_1.png" alt="Twitter" class="fr"></a>
            <a href="https://www.gmail.com"><img src="../image/mail.png" alt="Gmail" class="fr"></a>
            </center>
        </div>
    </div>
    </center>
    </body>
</html>