<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Admin login form</title>
        <link rel="stylesheet" href="../css/admin_log.css"> 
        <script src="../js/validate.js" type="text/javascript"></script> 
         <!--<script>document.getElementById("pwd").disabled = true;</script>-->  
  </head>
    <body>
    <div id="header">
        <div id="logo"><a href="homePage.html"><img src="../image/logo.jpg" alt="Logo.jpg" height="auto"></a></div>
       <div id="heading"><h1 id="head">ONLINE EXAM PORTAL</h1></div>
     </div>
       <br><br><br>
       
    <div id="menu">
        <ul id="UL">
            <li class="LI"><a href="homePage.html">Home</a></li>
            <li class="LI"><a href="admin_login.html">Admin</a></li>
            <li class="LI"><a href="user_login.html">User</a></li>
            <li class="LI"><a href="new_user_Register.html">New User</a></li>
            <li class="LI"><a href="contact_us.html">Contact Us</a></li>
        </ul>
    </div>
    <br><br>
    
	<div class="middle">
            <form action="adminLogin.jsp" autocomplete="on" name="adminLogin" onsubmit="return validateAdminLogin()" method="post">
				<center><font id="add"><u>Admin Login</u></font></center>
				 <br>
			<center>
			<table>
				<tr><td>Name: </td><td><input type="text" class="inp" value="" placeholder="Type Name Here" name="name" autofocus></td></tr>
				<tr><td></td></tr>
				<tr><td>Password: </td><td><input type="password" class="inp" value="" placeholder="Type Password Here" name="password"></td></tr>
          <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr></tr><tr></tr>
           <tr><td></td><td><input type="submit" value="submit" id="inpu"></td></tr>
           </table>
            </center>
        </form>
        </div>
        
	<br><br><hr>
	<div id="footer">
        <div id="footerl">
            <center>
                <a href="#"><img src="../image/faq.jpg" alt="Faq's"></a>
            </center>
            <br>
            <center><font class="one"><strong>FAQs</strong></font></center>
            <hr><br>
            <font class="two">What about the test</font>
            <br><br>
        </div>
        <div id="footerm">
            <center>
                <a href="#"><img src="../image/contact.jpg" alt="Contacts"></a>
            </center>
            <br>
            <center><font class="one"><strong>Contact Info</strong></font></center>
            <hr><br>
            <font class="two">Contact: 8791905580</font>
            <br><br>
            <font class="two">Email id: sarthak.1413088@kiet.edu</font>
            <br>
        </div>
        <div id="footerr">
            <center>
                <a href="#"><img src="../image/like.png" alt="Likes" id="fr1"></a>
            </center>
            <br>
            <center><font class="one"><strong>Stay Tuned</strong></font></center>
            <hr><br>
            <font class="two">For Daily News About Test , be sure to like the social pages</font>
            <br><br><center>
            <a href="https://www.facebook.com"><img src="../image/fb1.png" alt="Facebook" class="fr"></a>
            <a href="https://www.google.co.in"><img src="../image/google.png" alt="Google" class="fr"></a>
            <a href="https://www.linked.com"><img src="../image/linkedin.jpg" alt="LinkedIn" class="fr"></a>
            <a href="https://twitter.com"><img src="../image/twitter_1.png" alt="Twitter" class="fr"></a>
            <a href="https://www.gmail.com"><img src="../image/mail.png" alt="Gmail" class="fr"></a>
            </center>
        </div>
    </div>
</body> 
</html>
