<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Online Exam Home Page </title>
    <link rel="stylesheet" href="../css/afterUserLogIN.css">
</head>
<body>
    <div id="header">
       <div id="logo"><a href="homePage.html"><img src="../image/logo.jpg" alt="Logo.jpg" height="auto"></a></div>
       <div id="heading"><h1 id="head">ONLINE EXAM PORTAL</h1></div>
    </div>
    <br>
   <div id="menu-header">
   <div class="menu-wrap">
    <nav class="menu">
        <ul class="clearfix">
            <li><a href="#">HOME</a></li>
            <li><a href="#">TECHNICAL<span class="arrow">&#9660;</span></a>
                <ul class="sub-menu">
                     <li><a href="#"><center>DAA</center></a></li>
                     <li><a href="#"><center>DBMS</center></a></li>
                     <li><a href="#"><center>PPL</center></a></li>
                     <li><a href="#"><center>WEB TECH</center></a></li>
                     <li><a href="#"><center>Compiler Design</center></a></li>
                     <li><a href="#"><center>Computer Network</center></a></li>
                     <li><a href="#"><center>Software Engineering</center></a></li>
                     <li><a href="#"><center>Elective 1</center></a></li>
                </ul>
            </li>
            <li>
            <a href="#">REPORT</a>
            </li>
           <li>
               <a href="#">KEY PAPER WITH SOLUTIONS<span class="arrow">&#9660;</span></a>
               <ul class="sub-menu">
                   <li><a href="#"><center>DAA</center></a></li>
                   <li><a href="#"><center>DBMS</center></a></li>
                   <li><a href="#"><center>PPL</center></a></li>
                   <li><a href="#"><center>WEB TECH</center></a></li>
                   <li><a href="#"><center>Compiler Design</center></a></li>
                    <li><a href="#"><center>Computer Network</center></a></li>
                    <li><a href="#"><center>Software Engineering</center></a></li>
                    <li><a href="#"><center>Elective 1</center></a></li>
               </ul>
           </li>
           <li><a href="#">SIGN OUT</a></li>
        </ul>
    </nav>
</div>
    </div>
    
    <br><br>
    <div id="middle"><center>
    <a href="homePage.html">
    <div class="slider-holder">
        <span id="slider-image-1"></span>
        <span id="slider-image-2"></span>
        <span id="slider-image-3"></span>
        <div class="image-holder">
            <img src="../image/1.jpg" class="slider-image" height="400px" width="800px"/>
            <img src="../image/4.jpg" class="slider-image" height="400px" width="800px"/>
            <img src="../image/5.jpg" class="slider-image" height="400px" width="800px"/>
        </div>
        <div class="button-holder">
            <a href="#slider-image-1" class="slider-change"></a>
            <a href="#slider-image-2" class="slider-change"></a>
            <a href="#slider-image-3" class="slider-change"></a>
        </div>
    </div>
        </a>
    </center>
    </div>
    <br><br>
    <hr>
    <div id="footer">
        <div id="footerl">
            <center>
                <a href="#"><img src="../image/faq.jpg" alt="Faq's"></a>
            </center>
            <br>
            <center><font class="one"><strong>FAQs</strong></font></center>
            <hr><br>
            <font class="two">What about the test</font>
            <br><br>
        </div>
        <div id="footerm">
            <center>
                <a href="#"><img src="../image/contact.jpg" alt="Contacts"></a>
            </center>
            <br>
            <center><font class="one"><strong>Contact Info</strong></font></center>
            <hr><br>
            <font class="two">Contact: 8791905580</font>
            <br><br>
            <font class="two">Email id: sarthak.1413088@kiet.edu</font>
            <br>
        </div>
        <div id="footerr">
            <center>
                <a href="#"><img src="../image/like.png" alt="Likes" id="fr1"></a>
            </center>
            <br>
            <center><font class="one"><strong>Stay Tuned</strong></font></center>
            <hr><br>
            <font class="two">For Daily News About Test , be sure to like the social pages</font>
            <br><br><center>
            <a href="https://www.facebook.com"><img src="../image/fb1.png" alt="Facebook" class="fr"></a>
            <a href="https://www.google.co.in"><img src="../image/google.png" alt="Google" class="fr"></a>
            <a href="https://www.linked.com"><img src="../image/linkedin.jpg" alt="LinkedIn" class="fr"></a>
            <a href="https://twitter.com"><img src="../image/twitter_1.png" alt="Twitter" class="fr"></a>
            <a href="https://www.gmail.com"><img src="../image/mail.png" alt="Gmail" class="fr"></a>
            </center>
        </div>
    </div>
    </body>
</html>